@font-face {
  font-family: 'Omnes';
  src: url('./fonts/Omnes.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
}

body {
  margin: 0;
  font-family: "Omnes";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



